[submodule "libraries/corrade"]
	path = libraries/corrade
	url = https://github.com/mosra/corrade.git
[submodule "libraries/magnum"]
	path = libraries/magnum
	url = https://github.com/mosra/magnum.git
[submodule "libraries/magnum-plugins"]
	path = libraries/magnum-plugins
	url = https://github.com/mosra/magnum-plugins.git
[submodule "libraries/inicpp"]
	path = libraries/inicpp
	url = https://github.com/SemaiCZE/inicpp
[submodule "libraries/assimp"]
	path = libraries/assimp
	url = https://github.com/assimp/assimp
[submodule "libraries/magnum-extras"]
	path = libraries/magnum-extras
	url = https://github.com/mosra/magnum-extras.git
[submodule "libraries/yaml-cpp"]
	path = libraries/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
